/*
font-family: 'Merriweather', serif; --body
font-family: 'Sacramento', cursive; --h1
font-family: 'Montserrat', sans-serif; --h3
*/
/*------------------------------------ TAG SELECTOR --------------------------------------*/
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
}
h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    margin: 0 auto 0 auto;
    color: #66BFBF;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a {
    color: #11999E;
}
hr {
    border: none;
    border-top: dotted;
    border-width: 6px;
    width: 4%;
    background-color: white;
    color: #ced6d6;
    margin: 20px auto;
}
.contact-me {
    width: 50%;
    margin: auto;
    line-height: 2;
}

/* a {
    margin-bottom: 100px;
} */
a:hover {
    color: #E4F9F5;
}
/*---------------------------------- CLASS SELECTOR --------------------------------------*/
.top-container {
    position: relative;
    background-color: #E4F9F5;
    padding-top: 100px;
}
.middle-container {
    margin: 100px 0;
}
.bottom-container {
    padding: 50px 0 20px;
    background-color: #66BFBF;
}
.skill-row {
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
}
.top-cloud {
    top: 10%;
    right: 20%;
    position: absolute;
}
.bottom-cloud {
    position: absolute;
    top: 40%;
    left: 20%;
}
/* .mountain {
    width: 100%;
    height: 100%;

} */
.pro {
    text-decoration: underline;
}
.frofile-img {
    width: 20%;
    margin:auto;
}
.skill-image-1 {
    margin-right: 50px;
    width: 20%;
    float: left;
}
.skill-image-2 {
    width: 20%;
    float: right;
    margin-left: 50px;
}
.profile {
    width: 50%;
    /* text-align: left; */
    margin: auto;
}
.profile-description{
    line-height: 2;
    text-align: left;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
.footer-link {
    margin: 10px 20px;
    text-decoration: none;
}
.copyright {
    font-size: 13px;
    color: #ced6d6;
}
.contact-massage {
    margin: 20px auto 60px auto;
}
/*----------------------------------- ID SELECTOR ----------------------------------------*/
/* #div-1-h{
    display: inline-block;
}
#div-1-p{
    display: inline-block;
} */